* {
    margin: 2px;
}

body {
    background-color: #ade593;
}

p {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    /* float: left; */
}

iframe {
    width: 60%;
    height: 100%;
    /* width: 80em;
    height: 30em; */
    /* border: 2px double black; */
}

#frame2 {
    border: 1px solid black;
    margin-left: 1%;
    width: 35%;
    float: right;
}


footer {
    text-align: center;
    color: black;
    font-weight: 800;
    margin-top: 2%;
    margin-bottom: 1%;
}

@media (max-width: 700px) {

    body {
        background-color: red;
        padding: 2em;
    }

    div {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    p {
        text-transform: uppercase;
    }

    iframe {
        width: 100%;
    }

    #frame2 {
        width: 100%;
    }
}