* {
    margin: 0;
}

body{
    
    background-color: #ade593;
}
h2{
    text-align: center;
    color: white;
    margin-top: 4%;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    /* float: left; */
}

iframe{
    width: 80em;
    height: 30em;
    border: 2px double black;
}

footer{
    text-align: center;
    color: white;
    font-weight: 800;
    margin-top: 1%;
}

